<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002703289584-oacnnecpn2e2ql56c0agi225b7qlbc0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002703289584-oacnnecpn2e2ql56c0agi225b7qlbc0m</string>
	<key>API_KEY</key>
	<string>AIzaSyAg1YvYRlk8iJBr5zqnZ9CaN8WkpMI7i9w</string>
	<key>GCM_SENDER_ID</key>
	<string>1002703289584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAppMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-uet-project</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-uet-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002703289584:ios:46ff397ca285648b459635</string>
</dict>
</plist>